/** **************************************
* Fonts: app
*************************************** */
@import '@fontsource-variable/public-sans';

@import '@fontsource/barlow/400.css';
@import '@fontsource/barlow/500.css';
@import '@fontsource/barlow/600.css';
@import '@fontsource/barlow/700.css';
@import '@fontsource/barlow/800.css';
@import '@fontsource-variable/noto-sans-georgian';


/** **************************************
* Fonts: options
*************************************** */
@import '@fontsource-variable/dm-sans';

@import '@fontsource-variable/inter';
@import '@fontsource-variable/nunito-sans';

/** **************************************
* Plugins
*************************************** */
/* scrollbar */
@import './components/scrollbar/styles.css';

/* map */
@import './components/map/styles.css';

/* lightbox */
@import './components/lightbox/styles.css';

/* chart */
@import './components/chart/styles.css';
/* @import '../public/fonts/NotoSansGeorgian-VariableFont_wdth\,wght.ttf' */

/** **************************************
* Baseline
*************************************** */

@font-face {
  font-family: 'UpperCaseGeo';
  src: url('../public/fonts/NotoSansGeorgian-VariableFont_wdth\,wght.ttf') format('truetype');
}
html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body,
#root,
#root__layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  flex-direction: column;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  margin: 0;
  padding: 0;
  /* list-style-type: none; */
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-size: 20px;
  font-family: system-ui,sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #A4C121;
  background: 
    linear-gradient(-60deg,#0000 45%,#A4C121 0 55%,#0000 0) 
    0/300% 100% no-repeat text;
  animation: l3 2s linear infinite;
  margin-top: -25px;
}
.loader:before {
  content: "Sabado";
}
@keyframes l3 {
  0%{background-position: 100%}
}